<p id="notice"><%= notice %></p>

<h1>He said I'm Tragically Hip...</h1>

<div id="timeline">
  <% @moments.each do |moment| %>
  <div class="moment <%= cycle('high', 'low') %>">
    <div class="name"><%= moment.name %></div>
    <div class="date"><%= moment.date %></div>
    <!-- <div class="info"><%= moment.info %></div> -->
  </div>
  <% end %>
  <div class="markers">
    <div class="decade">1950</div>
    <div class="decade">1960</div>
    <div class="decade">1970</div>
    <div class="decade">1980</div>
    <div class="decade">1990</div>
    <div class="decade">2000</div>
    <div class="decade">2010</div>
    <div class="decade">2020</div>
  </div>
</div>

<br>

<%# link_to 'New Moment', new_moment_path %>
